@import "index";
@import "actividades";
@import "sucursales";
@import "planes";
@import "contacto";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 42, 42);
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(/img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*BARRA DE NAVEGACION HEADER*/

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__logo {
    width: 140px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.header__nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
    z-index: 1;
}

.header__nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.header__nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.header__nav-menu li a.active, .header__nav-menu li a:hover{
    color: yellowgreen;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .header__nav-menu {
    height: 100vh;
}

#check:checked ~ .header__nav-menu li {
    display: block;
}

/*RESPONSIVE MENU*/ 

@media screen and (min-width: 768px) {
    .header__nav__logo {
        margin-top: 50px;
    }

    nav{
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .header__nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .header__nav-menu li {
        display:  inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition:  none;
    }

    .header__nav-menu li a {
        font-size:  12px;
    }
    
}

/*FOOTER*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .footer1 .footer1__nosotros {
    margin-right: 30px;
    width: 40%;

    h2 {
        position: relative;
        color: #fff;
        font-weight: 500;
        margin-bottom: 15px;
    }
    h2:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: yellowgreen;
    }

    p {
        color: #999;
        font-size: 12px;
    }
}

footer .footer1 .footer1__redes {
    margin-top: 50px;
    display: flex;

    li {
        list-style: none;

         a{
            display: inline-block;
            width: 40px;
            height: 40px;
            display: flex;
            background: #222;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius:  4px;
            color: yellowgreen;
         }
         a:hover {
             background: yellowgreen;
             color: black;
         }
    }
}

.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: white;
}

@media (max-width: 850px){

    footer {
        padding: 40px;
    }

    footer .footer1 {
        flex-direction: column;
    }

    footer .footer1 .footer1__nosotros {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: justify;
    }

    .copyright {
        padding: 8px 40px;
    }
}
